/* **** food details **** */
.foodDetails {
    border: 1px solid #000;
    width: 70%;
    flex-direction: column;
    justify-content: start;
    /* padding: 1% 0; */
    height: 100vh;
    background-color: rgb(222, 253, 164);
}

.foodDetails>h2 {
    height: 10%;
    padding: 2% 0;
}

.foodDetails  figure {
    margin: 5% 0;
    width: 100%;
    flex-direction: column;
}

.foodDetails figure>img {
    width: 100%;
    object-fit: cover;
}

.foodDetails figure>figcaption {
    font-size: 40px;
    margin: 2% 0;
}

.littleInfo {
    width: 100%;
}
.littleInfo > ul{
    list-style: none;
    /* width: 100%; */
    /* border: 1px solid #000; */
}
.littleInfo > ul > li{
    margin: 0 5% ;
}

.summary{
padding: 5% 10%;
text-align: center;
}
.creator{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    width: 100vw;
    background-color: rgb(221, 129, 221);
    color: white;
    letter-spacing: 2px;
}
.creator > div{
    width: 100%;
    text-align: center;
}
/* **** food details **** */